/* .CardApp {
    align-items: center;
    justify-content: center;
  } */
  
  .container {
    top: 10%;
    left: 10%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card{
    width: 18em;
    margin: 30px;
  }
  
  img{
    width: 200px;
    height: 200px;
  }

  .card-title:hover{
      text-align: left;
    
  }

  .card:hover{
      transform: scale(1.05);
  }